* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% auto 10%;
    grid-gap: 10px;
    padding: 5px;
    border: 3px solid black;
    background-color: lightgray;
}

header {
    background-color: red;
    grid-column: 1 / 5;
    /* grid-column-start: 1;
    grid-column-end: 5; */
}

nav {
    background-color: green;
    /* grid-column-start: 1;
    grid-column-end: 1; */
    /* grid-row-end: span 1; */
}

main {
    background-color: blue;
    grid-column: 2 / 5;
    /* grid-column-start: 2;
    grid-column-end: 5; */

}

footer {
    background-color: purple;
    grid-column: 1 / 5;
    /* grid-column-start: 1;
    grid-column-end: 5; */
}